.questions-container{
    width:305px;
    height:370px;
    margin-top:25px;
    background-color:white;
}

.questions-container .theme{
    color:#172F64;
    font-family: 'Montserrat','sans-serif';
    font-weight: bold;

}
.flexbox-container{
    margin-top:10px;
    display:flex;
    position:relative;
    width:100%;
   height:85px;
   justify-content: center;
   align-items: center;
}

.flexbox-container .login{
    position:absolute;
    left:10px
}
.flexbox-container .choice{
    position:absolute;
    right:10px
}
.questions-container .title{
    margin-top:5px;
    font-family: 'Montserrat','sans-serif';
    font-size:17px;
    color:#172F64
}

.questions-container .next{
    margin-top:15px;
    font-family: 'Montserrat','sans-serif';
    font-size:17px;
    color:#172F64;
    display:flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}

.questions-container .next .continue{
    background-color:#172F64;
    color:white;
    margin-top:5px;
    width:75px
}



.questions-container .flexbox-container-2{
    margin-top:10px;
    display:flex;
    flex-direction: column;
}

.questions-container .flexbox-container-2 .options{
    display:flex;
    flex-direction: row;
}

.questions-container .flexbox-container-2 .options .first{
    margin:0 2px 0 5px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#172F64;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:white;
    font-size:x-large
}
.questions-container .flexbox-container-2 .options .first-selected{
    margin:0 2px 0 5px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:#172F64;
    font-size:x-large;
    border:1px dashed #172F64
}
.questions-container .flexbox-container-2 .options .second{
    margin: 0 2px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#172F64;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:white;
    font-size:x-large
}
.questions-container .flexbox-container-2 .options .second-selected{
    margin: 0 2px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:#172F64;
    font-size:x-large;
    border:1px dashed #172F64
}
.questions-container .flexbox-container-2 .options .third{
    margin: 0 2px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#172F64;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:white;
    font-size:x-large
}
.questions-container .flexbox-container-2 .options .third-selected{
    margin: 0 2px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:#172F64;
    font-size:x-large;
    border:1px dashed #172F64
}
.questions-container .flexbox-container-2 .options .fourth{
    margin: 0 2px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#172F64;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:white;
    font-size:x-large
}
.questions-container .flexbox-container-2 .options .fourth-selected{
    margin: 0 2px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:#172F64;
    font-size:x-large;
    border:1px dashed #172F64
}
.questions-container .flexbox-container-2 .options .fifth{
    margin: 0 5px 0 2px;
    margin-right: 5px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#172F64;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:white;
    font-size:x-large
}
.questions-container .flexbox-container-2 .options .fifth-selected{
    margin: 0 5px 0 2px;
    margin-right: 5px;
    font-family:'Montserrat','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width:56px;
    height:50px;
    border-radius: 100%;
    color:#172F64;
    font-size:x-large;
    border:1px dashed #172F64
}

.questions-container .flexbox-container-2 .comment{
    margin-top:2px;
    font-family: 'Montserrat','sans-serif';
    font-size:15px;
    color:#172F64;
    display:flex;
    justify-content: center;
    align-items:center;
}

.questions-container .flexbox-container-2 .commentArea{
    display:flex;
    justify-content: center;
    align-items:center;
    width:250px
}

.questions-container .flexbox-container-2 .proceed{
    width:100%;
    position:relative
}

.questions-container .flexbox-container-2 .proceed .advance{
    background-color:#172F64;
    color:white;
    position:absolute;
    margin:3px 0;
    padding:2px;
    right:10px;
    width:65px;
}

.questions-container .flexbox-container-2 .proceed .back{
    background-color:#172F64;
    color:white;
    position:absolute;
    margin:3px 0;
    padding:2px;
    left:10px;
    width:65px;
}


.questions-container .conclusion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat','sans-serif';
    color:#172F64;
}

.questions-container .conclusion .restart,.send,.back{
    margin-bottom:5px;
    font-family:'Montserrat','sans-serif';
    background-color:#172F64;
    color:white;
    width:120px;
} 
