.login-container{
    width:305px;
    height:360px;
    margin-top:5px;
    background-color:white;

}

.login-container .title1{
    font-family: 'Montserrat','sans-serif';
    color:#172F64;
    font-weight:bold;
    font-size:20px
}


.login-container .title2{
    font-family:'Montserrat', 'sans-serif';
    color:#172F64;
    font-size:20px;
    margin-top:10px;
    margin-bottom:20px;
    position:relative;
    display:flex;
    height:30px;
}

.login-container .title2 .loginTitle{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight:bold
}

.login-container .title2 .arrow{
    position:absolute;
    left:5px
}


 .flex-container1{
    display:flex;
    position:relative;
    flex-direction: row;
    width:100%;
    height:85px;
}

.flex-container1 .fred{
    position:absolute;
    left:10px
}

.flex-container1 .geraldo{
    position:absolute;
    right:10px
}

.flex-container2{
    display:flex;
    position:relative;
    width:100%;
   height:85px;
   justify-content: center;
   align-items: center;

}

.flex-container2 .izabel{
    position:absolute;
}


.flex-container3{
    display:flex;
    position:relative;
    flex-direction: row;
    width:100%;
    height:85px;
}

.flex-container3 .pedro{
    position:absolute;
    left:10px
}

.flex-container3 .ramon{
    position:absolute;
    right:10px
}
